.fix-social {
    position: fixed;
    display: grid;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.fix-social li {
    margin: 0px auto;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.fix-div-social {
    height: 100%;
    align-items: center;
    display: flex;
    position: fixed;
    z-index: 9999;
    margin-left: 15px;
}